.HamburgerMenu {
    width: 75%;
    height: 100%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    position: fixed;
    background-color: white;
    transform: translate(-110%);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.menu-visible {
    transform: translate(0);
}

.HamburgerMenu div {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.HamburgerMenu div:active{
    color: #068BDC;
}

.HamburgerMenu div:last-child{
    padding-bottom: 10px;
}

.HamburgerMenu svg {
    font-size: 28px;
}