.MainContent {
    position: relative;
    width: 100%;
}

.MainContent_message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.MainContent_message-container::-webkit-scrollbar {
    display: none;
}

